.audio{
	text-decoration: none;
	color: #fff;
	float: right;
	font-weight: bold;
	margin-right: 20px;
	margin-top: 10px;
	position: relative;
}

.audio:hover{
	text-decoration: none;
	text-transform: none;
	color: #fff;

}