 @font-face{
                font-family: Stardust;
                src: url('../fonts/Stardust.ttf');
              }

          @font-face{
                font-family: ananda;
                src: url('../fonts/ananda.ttf');
              }
#txt{
	color: #fff;
}

#ml{
	font-family: Stardust;
	font-weight: bold;
	color: white;
	font-size: 50px;
	margin-left: -30px;
}

.con{
    color: #fff;
  }