 @font-face{
        font-family: Stardust;
        src: url('../fonts/Stardust.ttf');
      }

  @font-face{
        font-family: ananda;
        src: url('../fonts/ananda.ttf');
      }
      .ad{
        width: 40px;
        transition: 0.3s;
         margin-top:0px;

      }
      .ad:hover{
        opacity: 0.5;
        margin-top:-10px;
        transition: 0.3s;
      }
      .img-album{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
  .jl-invert{
    filter: invert(10);
  }

  .jl-blur{
    filter: blur(4px);
  }
  .side-card{
    position:fixed;
    right:0px;
    /*top:0px;*/
    bottom:-100%;
    padding-top:6%;
    background-color: rgba(1,1,1,0.7);
    height:100%;
    overflow-x: auto;
  }
  .side-list{
    max-height:280px;
    background: #fff;
    overflow-x: auto;
  }
  .side-player
  {
    position: fixed;
    bottom: -19px;
    right: 2%;
    transition: bottom 0.2s;
  }
  .side-player:hover{
     bottom:0px;
  }
  .home-player{
    height: 200%;
  }
  .btn-list{
    display: none;
  }
  .show{
    display: block;
  }
  .header-top{
   display: none;
}
@media only screen and (max-width: 600px) {
.lister{
  display: none;
   margin-top:15%;
}
.player{
  margin-top:15%;
}
.btn-list{
  display: block;
}
.header-top{
  display:block;
  margin-top: 15%;
}
}