.img_resize{
  width: 120px;
  text-shadow:2px 2px 4px #555;
}
.img-text {
    top: 50%;
    color: #fff;
}
.img-subscribe{
  background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/index_img/4th_bg.jpg');
}
.border-left{
  border-right: 1px solid #e7e7e7;
}
.none{
  display: none;
}
#music-list{
  display: block;
}
#music-list2{
 display: none;
}
#album_artwork{
}
#make{
  font-size: 50px;
  line-height: 150%; 
  text-shadow:2px 2px 4px #555;
}
#discover{
  font-size: 20px;
}

.music-text{
  font-weight: bolder; font-size: 50px; color: #fff; text-shadow:2px 2px 4px #555
}

#footer_style{
  background-color: #282e3a; text-decoration: none; margin-top: -3%;
}

#default{
  display: block;
}

#mail-text{
  font-size: 40px;
}
.jumbotron{

}
/*responsive*/
@media only screen and (max-width: 600px) {
  #music-list{
    display: none;
  }
  #music-list2{
   display: block;
  }
  #album_artwork{
    text-align: center;
  }
  #make{
    font-size: 35px;
    line-height: 150%; 
    text-shadow:2px 2px 4px #555;
  }
  #discover{
    font-size: 15px;
  }

  .btn-max{
    width: 100%;
    }

  .music-text{
    font-weight: bolder; font-size: 40px; color: #fff; text-shadow:2px 2px 4px #555
  }
  #footer_style{
    background-color: #282e3a; text-decoration: none; margin-top: -7.5%;
  }
  #default{
    display: none;
  }
  #mobile_display{
    display: block;
  }
  #mail-text{
  font-size: 25px;
  }
  .jumbotron{
  height: 350px;
  } 
}