
 @font-face{
        font-family: Stardust;
        src: url('../fonts/Stardust.ttf');
      }

  @font-face{
        font-family: ananda;
        src: url('../fonts/ananda.ttf');
      }
      .ad{
        width: 40px;
        transition: 0.3s;
         margin-top:0px;

      }
      .ad:hover .side-drop{
        opacity: 0.5;
        transition: 0.3s;
      }
.bg1{
    background-image: url('../img/bg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
    }

.bg1-cover{
    background-image: url('../img/main-bg.png');
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    background-size: cover;
    /*-o-background-size: cover;*/
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    /*min-height: 100%;*/
    height: 100%;
    }
.bg2{
    background-image: url('../img/acoustic.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 700px;
    max-height: 100%;
    }

 a.menu {
    padding:10px;
    text-decoration: none;
    font-size: 14px;
    color: #f1f1f1;
    display: block;
    border:groove 0.9px #777;
    border-left: none;
    border-right: : none;
    background-color:rgba(0,0,0,0.9);
}
.margin-content{
    margin-left:290px;
}
.sidenav a:hover {
    transition: 0.2s;
    color: #f1f1f1;
    background-color:teal;
}
#bar_logo{
        display: none;
    }

.show{
    display: 
}
@media only screen and (max-width: 600px) {
    .sidenav {
        width:0px;
    }
    #logo_img{
        display: '';
    }
    #bar_logo{
        display:'';
    }
    .margin-content{
        margin-left:20px;
    }


}


.pl{
    padding-top: 10px;
    margin-top: -20px;
}

.pl1{
    border-radius: 3px;
    height: 35px;
    position: relative;
    background-color: #52555880;
}

.pl2{
    font-weight: bold;
    letter-spacing: 2px;
    font-family: verdana;
}

.album_image{
    width: 80px;
    height: 80px;
}

.calbum{
    font-weight: bold;
}
.img-album{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    hr {
    border: 0;
    height: 1px;
    background: #c1c1c1;
}
 .droper
  {
  
  }
  .droper .side-drop{
    background-color: white;
    padding: 10px 50px 10px 50px;
    position: fixed;
    z-index:0;
    top: 50px;
    border-radius:10px;
    right: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
  
  }
    .droper:hover .side-drop{
      visibility: visible;
      opacity: 1.0;

    }

.homebg{
  background-image: url('../img/bg2.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 700px;
  max-height: 100%;
  }
  
.center{
  position: absolute;
  right: 0px;
  }

.alb{
  background-color: rgba(0,0,0,0.5);
  }

.alb1{
  padding-top: 5px;
  }

.pl{
  background-color: rgba(0,0,0,0.5);
  }

.pla{
  padding-top: 5px;
  }

.pla1{
  margin-top: 20px;
  }

.sidenav{
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 100px;
  padding-right:0px;
  padding-left:0px;
  }

.sidenav a {
  padding:16px;
  text-decoration: none;
  font-size: 14px;
  color: #f1f1f1;
  display: block;
  border:groove 0.9px #888;
  border-left: none;
  border-right: : none;
  background-color:rgba(0,0,0,0.41);
  }

 a.menu {
  padding:10px;
  text-decoration: none;
  font-size: 14px;
  color: #f1f1f1;
  display: block;
  border:groove 0.9px #777;
  border-left: none;
  border-right: : none;
  background-color:rgba(0,0,0,0.41);
  }

.se1{
  float: right;
  margin-top: 20px;
  }

.se2{
  float: right;
  }

.divMarquee {
  width: relative;
  display: inline-block;
  position: relative; 
  -webkit-animation: myfirst 10s infinite;/* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate;/* Safari 4.0 - 8.0 */
  animation: myAni 20s infinite;
  animation-direction: initial;
  }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes myAni {
  0% {right: -80%;top: 0px;}
  100% {right: 110%;top: 0px;}
  }

/*If you want to change the direction just change the left values or make them right..*/
@keyframes myAni {
  0% {right: -80%;top: 0px;}
  100% {right: 110%;top: 0px;}
  }
        
.modal-body {
  overflow: hidden; /*This is for the overflow of moving text out of modal*/
  }

#mbody {
  background-image: url(../img/abstract.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  }
    
.mn{
  margin-top: -25px;
  }

.mc{
  margin-top: -20px;
  }

.ma{
  margin-top: -10px;
  }

  label{
    color: blue;
    cursor: pointer;
  }

  label:hover{
    text-decoration: underline;
  }

  #uploadsongs{
    display:none;
  }

  .sn{
    margin-bottom: 5px;
  }

  .com{
    margin-bottom: 5px;
  }

  .art{
    margin-bottom: 5px;
  }

  .rem{
    margin-top: -5px;
  }

  .sp{
    margin-top: 10px;
  }
  .paddy{
    padding-left: 50px;
  }
  .toggle-side{
      visibility: hidden;
    }
  .login-top{
    padding-top:10%;
  }
  @media only screen and (max-width: 600px) {
    .sidenav{
    width: 0px;
    }
    .paddy{
      padding-left: 15px;
    }
    .toggle-side{
      margin-right: 15px;
      padding: 15px;
      visibility: visible;
    }

}