body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

p{
	font-size: 16px;
	padding: 0px;
}

a, a:hover{
	text-decoration: none !important;
	color: #fff;
}

/*HEADER/HERO*/

.hero{
	background-image: url('../img/hero-bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	padding-bottom: 260px;
}

.hero .header{
	padding-left: 60px !important;
	text-align: left;
}

.hero .header span, .header a{
	color: #fff;
	font-size: 18px;
}

.hero .header p{
	padding: 0 30px 0;
	text-align: right;
}

.header a{
	padding: 30px 0;
}

.hero .header a:hover{
	color: #a3c5c4;
}

.hero .header .col-lg-1{
	padding-right: 0;
}

.head{
	padding: 20px 0;
}

.hero .content{
	padding-top: 160px;
}

.search-icon i{
	color: #fff;
	padding: 25px;
    background-color: #6c7989;
    float: right;
}

.hero h1{
	font-size: 80px;
	font-weight: 800;
	color: #fff;
	padding-bottom: 30px;
	text-transform: uppercase;
}

.hero p{
	font-size: 36px;
	line-height: 50px;
	font-weight: 300;
	color: #fff;
	padding-bottom: 60px; 
}

.btn{
	padding: 20px;
    background-color: #a3c5c4;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    max-width: 330px;
    width: 100%;
    border: none;
    border-radius: 0;
}

.btn:hover{
	background-color: #d6e2e2;
	color: #34464a;
}

.btn-dark{
	background-color: #34464a;
}

.search-form{
	padding-top: 40px;
	padding-bottom: 70px;
	text-align: center;
}

.search-form input[type="text"], .search-form .btn-dark{
	margin-top: 30px;
}

input[type="text"]{
	background-color: #f4f4f4;
	padding: 20px;
	width: 100%;
	height: 78px;
	border: 1px solid #d5d5d5;
	font-size: 18px;
}

#header{
	font-size: 38px;
	padding-bottom: 60px;
}

.categories, .feat-music{
	padding: 0 100px;
	text-align: center;
}

.categories .cats, .feat-music .music, .input{
	padding-right: 5px;
    padding-left: 5px;
}

.categories .row h1{
	position: absolute;
    margin: 0 auto;
    width: 100%;
    padding: 30% 0 0;
    font-weight: 700;
    color: #fff;
}

.categories .cats p{
	color: #3b3b3b;
	padding: 12px 0 60px;
}

.feat-music{
	background-color: #f5f5f5;
	padding-top: 90px;
	padding-bottom: 80px;
	border-top: 1px solid #dadada;
	text-align: center;
}

.feat-music h1{
	font-weight: 800;
	padding-bottom: 40px;
}

.feat-music .btn-dark{
	margin-top: 60px;
}

.cta{
	background-image: url('../img/cta-bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 150px;
	padding-bottom: 160px;
}

.cta .content h1{
	font-size: 60px;
	line-height: 80px;
	font-weight: 800;
	text-transform: uppercase;
	color: #fff;
	padding-bottom: 20px;
}

.top-tracks{
	background-color: #6c7989;
	padding-top: 40px;
	padding-bottom: 40px;
}

.top-tracks h1{
	font-size: 40px;
	text-align: center;
	color: #fff;
	font-weight: 800;
}

.tracks-table .col-lg-12{
	padding: 0;
}

.tracks-table table{
	width: 100%;
}

.tracks-table table tr#labels{
	background-color: #616f7f;
	color: #fff;
	font-size: 14px;
}

.tracks-table table tr#labels th{
	padding: 16px;
}

.tracks-table table .tracks-dark{
	background-color: #dee8e9;
}

.tracks-table table .tracks td{
	padding: 30px 0;
}

.tracks-table table .tracks td a{
	color: #3b3b3b;
}

.tracks-table table .tracks td a:hover{
	color: #34464a;
}

.tracks-table table .tracks td.left{
	text-align: left;
}

.tracks-table table .tracks td.left h6, .tracks-table table .tracks td.left h5{
	font-weight: 800;
}

.tracks-table table .tracks td.left p{
	font-size: 10px;
}

footer{
	background-color: #f7f7f7;
	text-align: center;
	padding: 100px 0 0;
}

footer .content h1{
	color: #4b5868;
	font-size: 64px;
	font-weight: 800;
	padding-bottom: 14px;
}

footer .content h1 span{
	padding: 30px;
}

footer .content h1 span img{
	margin-top: -10px;
}

footer .content p{
	color: #4b5868;
	font-size: 22px;
	padding-bottom: 40px;
}

.subscribe{
	padding-bottom: 90px;
}

.subscribe input[type="text"], .subscribe .btn{
	margin-top: 30px;
}

.copyright{
	background-color: #262f39;
	padding: 60px 0;
	color: #fff;
}

.copyright p a{
	font-size: 16px;
	color: #fff;
}

.copyright p a:hover{
	color: #a3c5c4;
}

.copyright .nav-item, .copyright .nav-item a{
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}

.fence{
	padding: 0 14px;
}

/* DASHBOARD */

.hero-db{
	background-image: url('img/db-bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	padding-bottom: 160px;
}

.results{
	background-color: #f6f8f9;
	padding: 75px 100px 50px;
}

.results .title{
	font-size: 38px;
}

.cta-db{
	background-image: url('img/cta-db-bg.jpg');
}

.cta-db p{
	font-size: 28px;
	color: #fff;
	padding-bottom: 30px;
}

.cta-db .content h1{
	font-size: 60px;
	line-height: 80px;
}

/* RESPONSIVE */

@media only screen and (max-width: 1080px){
	.tracks-table{
		display: none;
	}
}

@media (min-width: 992px){
	.feat-music .col {
	    -ms-flex: 0 0 20%;
	    flex: 0 0 20%;
	    max-width: 20%;
	}
}


/*NEW CSS*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
}
/* NEW UPDATES */
 .scroll_
{
  height: 100%;
  overflow: scroll;
}

.none{
	display: none;
}