/**
 * tiny-player v.0.1.1
 * irubataru.com
 *
 * Copyright (c) 2018 Jonas Rylund Glesaaen
 *
 * MIT License
 */

.iru-tiny-player {
  position: relative;
  border: 0.2ex solid;
}

.iru-tiny-player .song-main-info {
  margin: 2ex 2ex;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .iru-tiny-player .song-main-info {
    margin: 2ex 1ex;
    font-size: 1rem;
  }
}

.iru-tiny-player .icon {
  margin-right: 1ex;
  min-width: 1.5rem;
  flex-basis: 1.5rem;
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.iru-tiny-player .icon:hover {
  color: #18bfef;
}

@media screen and (max-width: 480px) {
  .iru-tiny-player .icon {
    margin-right: 0.25ex;
    min-width: 1rem;
    flex-basis: 1rem;
  }
}

.iru-tiny-player .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.iru-tiny-player .song-main-info .icon.fa-stop {
  margin-right: 2ex;
}

@media screen and (max-width: 480px) {
  .iru-tiny-player .song-main-info .icon.fa-stop {
    margin-right: 0.5ex;
  }
}

.iru-tiny-player .song-main-info .song-timer {
  margin: 0ex 1ex;
  white-space: nowrap;
}

.iru-tiny-player .song-main-info .song-title {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
}

.iru-tiny-player .song-progress {
  position: absolute;
  background-color: rgba(21, 29, 31, 0.15);
  width: 0%;
  height: 100%;
}

.iru-tiny-player .song-volume-control {
  position: absolute;
  background-color: rgba(245, 245, 245, 0.85);
  width: 100%;
  height: 100%;
  top: 0;
}

.iru-tiny-player .song-volume-bar {
  position: absolute;
  top: 50%;
  left: 20%;
  height: 10px;
  margin: 0px auto;
  width: 80%;
  background-color: rgba(21, 29, 31, 0.9);
}

.iru-tiny-player .song-volume-bar#fg {
  height: 5px;
  margin: -2.5px auto;
  width: 60%;
}

.iru-tiny-player .song-volume-bar#fgg {
  height: 10px;
  margin: -5px auto;
  background-color: rgba(255, 255, 255, 0);
  width: 60%;
}

.iru-tiny-player .song-volume-bar#bg {
  height: 1.5px;
  margin: -0.75px auto;
  background-color: rgba(21, 29, 31, 0.75);
  width: 60%;
}

.iru-tiny-player .song-volume-dot {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 80%;
  margin: -7.5px auto;
  background-color: rgba(21, 29, 31, 0.9);
  border-radius: 7.5px;
  cursor: pointer;
}

.iru-tiny-player .song-volume-dot:hover {
  background-color: #18bfef;
}

.iru-tiny-player .icon.fa-times {
  margin: 2ex 2.5ex;
  position: absolute;
  font-size: 1.25rem;
  right: 0;
  top: 0;
}

@media screen and (max-width: 480px) {
  .iru-tiny-player .icon.fa-times {
    margin: 2ex 1.5ex;
    font-size: 1rem;
  }
}
