body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

p{
	font-size: 16px;
	padding: 0px;
}

a, a:hover{
	text-decoration: none !important;
	color: #fff;
}

/*HEADER/HERO*/

.hero{
	background-image: url('img/hero-bg2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	padding-bottom: 260px;
}

.hero .header{
	padding-left: 60px !important;
	text-align: left;
}

.hero .header span, .header a{
	color: #fff;
	font-size: 18px;
}

.hero .header p{
	padding: 0 30px 0;
	text-align: right;
}

.header a{
	padding: 30px 0;
}

.hero .header a:hover{
	color: #a3c5c4;
}

.hero .header .col-lg-1{
	padding-right: 0;
}

.head{
	padding: 20px 0;
}

.hero .content{
	padding-top: 160px;
}

.search-icon i{
	color: #fff;
	padding: 12px;
    background-color: #6c7989;
    float: right;
}

.hero h1{
	font-size: 80px;
	font-weight: 800;
	color: #fff;
	padding-bottom: 30px;
	text-transform: uppercase;
}

.hero p{
	font-size: 36px;
	line-height: 50px;
	font-weight: 300;
	color: #fff;
	padding-bottom: 60px; 
}

.btn{
	padding: 20px;
    background-color: #a3c5c4;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    max-width: 330px;
    width: 100%;
    border: none;
    border-radius: 0;
}

.btn:hover{
	background-color: #d6e2e2;
	color: #34464a;
	cursor: pointer;
}

.btn-dark{
	background-color: #34464a;
}

.btn-small{
	padding: 10px;
    font-size: 15px;
    font-weight: 500;
    max-width: 230px;
}

.search-form{
	padding-top: 40px;
	padding-bottom: 70px;
	text-align: center;
}

.search-form input[type="text"], .search-form .btn-dark{
	margin-top: 30px;
}

input[type="text"]{
	background-color: #f4f4f4;
	padding: 20px;
	width: 100%;
	height: 78px;
	border: 1px solid #d5d5d5;
	font-size: 18px;
}

#header{
	font-size: 38px;
	padding-bottom: 60px;
}

.feat-music{
	padding: 0 100px;
	text-align: center;
}

.feat-music #accordion{
	padding-top: 50px;
	text-align: left;
}

.feat-music{
	background-color: #f5f5f5;
	padding-top: 90px;
	padding-bottom: 80px;
	border-top: 1px solid #dadada;
	text-align: center;
}

.feat-music h1{
	font-weight: 800;
	padding-bottom: 10px;
}

.feat-music p{
	font-size: 24px;
	color: #a3c5c4;
	font-weight: 300;
}

.feat-music .btn{
	margin-top: 70px;
}

.card-header{
	background-color: #34464a;
	padding: 30px;
}

.card-header h5{
	font-size: 24px;
}

.card-body{
	font-size: 18px;
	line-height: 1.8;
	padding: 30px;
}


.categories{
	padding-top: 100px;
	padding-bottom: 120px;
}

.categories .row h1{
	color: #262f39;
	font-weight: 800;
	font-size: 52px;
	padding-bottom: 40px;
}

.categories .row p#large{
	font-size: 24px;
	padding-bottom: 10px;
	font-weight: 500;
}

.categories p{
	color: #262f39;
	font-size: 18px;
	line-height: 1.6;
	padding: 12px 0 60px;
}

.categories img{
	text-align: center;
}

.cta{
	background-image: url('img/cta-db-bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 150px;
	padding-bottom: 160px;
}

.cta .content h1{
	font-size: 60px;
	line-height: 80px;
	font-weight: 800;
	text-transform: uppercase;
	color: #fff;
	padding-bottom: 20px;
}

.top-tracks{
	background-color: #6c7989;
	padding-top: 40px;
	padding-bottom: 40px;
}

.top-tracks h1{
	font-size: 40px;
	text-align: center;
	color: #fff;
	font-weight: 800;
}

.tracks-table .col-lg-12{
	padding: 0;
}

.tracks-table table{
	width: 100%;
}

.tracks-table table tr#labels{
	background-color: #616f7f;
	color: #fff;
	font-size: 14px;
}

.tracks-table table tr#labels td{
	padding: 16px;
}

.tracks-table table tr td{
	text-align: center;
}

.tracks-table table .tracks-dark{
	background-color: #dee8e9;
}

.tracks-table table .tracks td{
	padding: 16px 0;
}

.tracks-table table .tracks td a{
	color: #3b3b3b;
}

.tracks-table table .tracks td a:hover{
	color: #34464a;
}

.tracks-table table .tracks td.left{
	text-align: left;
}

.tracks-table table .tracks td.left h6, .tracks-table table .tracks td.left h5{
	font-weight: 800;
}

.tracks-table table .tracks td.left p{
	font-size: 10px;
}

footer{
	background-color: #f7f7f7;
	text-align: center;
}

footer .content h1{
	color: #4b5868;
	font-size: 64px;
	font-weight: 800;
	padding-top: 100px;
	padding-bottom: 14px;
}

footer .content h1 span{
	padding: 30px;
}

footer .content h1 span img{
	margin-top: -10px;
}

footer .content p{
	color: #4b5868;
	font-size: 22px;
	padding-bottom: 40px;
}

.subscribe{
	padding-bottom: 90px;
}

.subscribe input[type="text"], .subscribe .btn{
	margin-top: 30px;
}

.copyright{
	background-color: #262f39;
	padding: 60px 0;
	color: #fff;
}

.copyright p a{
	font-size: 16px;
	color: #fff;
}

.copyright p a:hover{
	color: #a3c5c4;
}

.copyright .nav-item, .copyright .nav-item a{
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}

.fence{
	padding: 0 14px;
}

/* INNER/CONTACT PAGE */

.hero-contact{
	background-image: url('img/hero-bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	padding-bottom: 30px;
}
.hero-contact h1 {
	padding-top: 50px;
	text-align: center;
}
.contact-form {
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}
.margin-0 {
	margin: 0;
}
.btn-contact {
	background-color: #34464a;
    font-size: 20px;
}
.contact-form .form-control {
	background-color: #edeeef;
    border-radius: 0;
    font-size: 20px;
    height: calc(2.25rem + 30px);
    padding: 20px;
}
.contact-form h2{
	text-align: center;
	margin-bottom: 40px;
	font-weight: 700;
}
.contact-form .form-group {
    margin-bottom: 25px;
}
.contact-form p {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	line-height: 1.8;
}
.contact-form a {
	color: #34464a;
	font-weight: 700;
}

/* INNER/RESULTS */

.hero-db{
	background-image: url('img/db-bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	padding-bottom: 160px;
}

.results{
	background-color: #f6f8f9;
	padding: 75px 100px 50px;
}

.db-content{
	font-weight: 600;
}

.see-more{
	text-align: center;
	padding-top: 80px;
	padding-bottom: 160px;
}
.results .title{
	font-size: 38px;
}

.cta-db p{
	font-size: 28px;
	color: #fff;
	padding-bottom: 30px;
}

.cta-db .content h1{
	font-size: 60px;
	line-height: 80px;
}

/* INNER/ADMIN */

.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1f2930;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav ul{
	padding-top: 50px;
	padding-left: 0;
}

.sidenav ul li{
	text-align: center;
	padding: 20px;
	border-bottom: 2px solid #141b20;
}

.sidenav ul li:first-child{
	border-top: 2px solid #141b20;
}

.main{
	margin-left: 100px;
}
.hero-admin{
	background-image: none;
	background-color: #304756;
	padding-bottom: 0;
}

.pword{
	letter-spacing: 5px;
}

.user-mng{
	padding-top: 30px;
	padding-bottom: 30px;
}

.user-mng hr{
	margin-top: 30px;
	margin-bottom: 30px;
}

.user-mng .title{
	font-size: 38px;
	font-weight: 400;
}

/* INNER/PLAYLIST/MODAL */

.header .input-small{
	padding: 10px;
	height: 45px;
	margin-top: 30px;
}

.modal-body{
	padding: 0;
}

.modal-body .container{
	max-width: 700px;
	width: 100%;
}

.modal-body .container-fluid{
	padding: 0;
}

.modal-body .row{
	padding-top: 30px;
	padding-bottom: 30px;
}

.modal-body .row .col-lg-4, .modal-body .row .col-lg-6{
	padding-right: 5px;
	padding-left: 5px;
}

.modal-header{
	background-color: #304654;
	color: #fff;
}

.modal-header .title{
	text-align: center;
	width: 100%;
    padding-top: 10px;
    font-size: 24px;
}

.close{
	color: #fff;
}

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    color: #fff;
    text-decoration: none;
    opacity: 1;
}

.modal-body .btn-pair{
	padding-bottom: 0px;
}

.btn-pair .right{
	text-align: right;
}

.btn-pair .left{
	text-align: left;
}

.modal-body .input-small{
	padding: 10px;
	height: 45px;
	background-color: #ccd3d9;
	border: none;
	color: #304654;
	margin-top: 10px;
}

.modal-body .big{
	width: 100%;
	height: 100px;
}

.modal-body .divider{
	background-color: #e8ebec;
    padding: 20px 30px 1px;
}

.modal-body .divider p{
	color: #304654;
	font-size: 18px;
	font-weight: 500;
}

.modal-body .select{
	padding-left: 5px;
	padding-right: 5px;
}

.modal-body .label{
	text-align: center;
    background-color: #304654;
    color: #fff;
}

.select select.form-control{
	background-color: #ccd3d9;
	border-radius: 0;
}

.modal-body .table .titles{
	background-color: #e8ebec;
}

.modal-body .table td{
	border: none;
}

.modal-body .table .titles td{
	color: #262f39;
	font-weight: 500;
}

/* RESPONSIVE */

@media only screen and (max-width: 1080px){
	.tracks-table{
		display: none;
	}
}

@media (min-width: 992px){
	.feat-music .col {
	    -ms-flex: 0 0 20%;
	    flex: 0 0 20%;
	    max-width: 20%;
	}
}

@media (min-width: 576px){
	.modal-dialog {
	    max-width: 900px;
	    margin: 1.75rem auto;
	}
}

/*NEW UPDATE*/

.none{
	display: none;
}

