input[type=range].player_slider {
  width: 100%;
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;
    
    background-image: -webkit-gradient(linear,
        left top, 
        right top, 
        color-stop(0%, #00b3b3),
        color-stop(0%, #c1c1c1));
    
    background-image: -moz-linear-gradient(left center,
        #DF7164 0%, #DF7164 15%,
        #F5D0CC 0%, #F5D0CC 100%);
}

input[type="range"].player_slider::-moz-range-track {
    border: none;
    background: none;
    outline: none;
}

input[type=range].player_slider:focus {
    outline: none;
    border: none;
}

input[type=range].player_slider::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #008080;
    height: 13px;
    width: 13px;
    border-radius: 50%;
}

input[type=range].player_slider::-moz-range-thumb {
    -moz-appearance: none !important;
    background-color: #df7164;
    border: none;
    height: 13px;
    width: 13px;
    border-radius: 50%;
}


.music-card{
    width: 100%;
    height: auto;
    border-radius:5px;
    background-color: #4cb6cb;
   /* box-shadow:2px 2px 2px #333;*/
  }
  .music-card .music-card-body{
    border-radius: 5px 5px 0px 0px;
   background-color: rgba(255,255,255,0.3);
  }
  .music-text{
  font-size: 1.5em;

  }
  
  .music-card .player-controler{
      /*background-color: white;*/
      width: 100%;
      
  }
   .music-card .music-card-footer{
    display: inline-flex;
    padding:6px;
    background-color: #333;
    border-radius: 0px 0px 5px 5px;

    width: 100%;
  }

 
  .m-close{
    background-color:transparent;
    border:none;
    font-size:1.8em;
    top:0;
    text-shadow:1px 1px 4px  #c1c1c1;
    float: right;
    position: relative;
    color: white;
    right: 15px;
    transition: color 0.4s;
  }
  .m-close:hover{
    color: #555;
  }
  .text-room{
    padding:20px 20px 20px; 
    font-size:2em;

  }
  .btn-musics{
    color: white;
    transition: color 0.4s;
  }
  .btn-musics:hover{
      /*color: rgba(8,8,8,0.2);*/
     color: #c1c1c1;
  }
  .music-bars{
    margin-top: 5px;
   
  }
  .footer-control{
    display: block;
  }
  
  .footer-m{
    display: flex;
    padding:10px;
    background-color: rgba(8,8,8,0.5);

    /*border-radius: 5px 5px 0px 0px;*/
  }
  .music-timer{
  margin-top:35px;
  width:10%;
  text-align: left;
  color: white;
  font-size:1em;
  font-family:'agency fb';
    margin-right:5px;
  }
  .music-sticky{
   padding: 10px;
    font-size:1.2em;
    background-color: rgba(255,255,255,0.3);
    /*border-radius: 0px 0px 5px 5px;*/
    font-size:1.5em;
    text-align: center;
     border-radius:0px 0px 5px 5px;
  }
  .img-artwork{
    width:10%;
    
  
  }
  .seek-bar{
    margin-top:35px;
    width:100%;
    padding-right:15px;
    margin-left:10px;
  }
  .volume-control{
    margin-top:0px;
    color: white;
    width: 20%;


  }

  