

@media screen and (max-width: 480px) {

   
    #default_table{
      display: none;
    }

   #2nd_table{
    display: block;
   }
}


.droper
  {
  
  }
.droper .side-drop{
background-color: white;
padding: 10px 50px 10px 50px;
position: fixed;
z-index:0;
top: 50px;
border-radius:10px;
right: 10px;
visibility: hidden;
opacity: 0;
transition: opacity 0.5s;

}
.droper:hover .side-drop{
visibility: visible;
opacity: 1.0;

}
#bar_logo{
        display: none;
    }

  body,html{
   /* width: 100%;*/
  height: 100%;
  font-family:'MavenPro-Regular';
  }
  @font-face{
    font-family:'MavenPro-Regular';
    src:url('../fonts/MavenPro-Regular.ttf');
  }
  @font-face{
    font-family:'Dosis-SemiBold';
    src:url('../fonts/Dosis-SemiBold.ttf');
  }
  .font-m1{
   font-family:'MavenPro-Regular';
   color: white;
   font-size: 1.2em;
   border-width:1.2px;
   border-color: white;
   border-radius:50px;
  }
  .m-f1{
    font-family: 'MavenPro-Regular';
    font-size:1.2em;
    color:white;
      text-shadow: 1px 1px 6px #000;
    opacity: 1;
    transition: opacity 0.3s;
    transition: font-size 0.3s;
   
  }

  .m-f2{
    font-family: 'MavenPro-Regular';
    font-size:1.2em;
    color:teal;
    text-shadow: 1px 1px #000;
    opacity: 1;
    transition: opacity 0.3s;
    transition: font-size 0.3s;
    word-break:keep-all;
   
  }
  .f1{
    font-family: 'MavenPro-Regular', sans-serif;
    color:white;
    text-shadow: 2px 4px 9px #555;
  }
 
  .bg-main-page{
     height: auto;
     background-color: #f1f1f1; 
    /* Center and scale the image nicely
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('../img/main-bg.png'); */
    /*background-color: #e1e6e9;*/
  }
   .bg-second-page{
     height: auto;
      background-color: #f1f1f1; 
    /* Center and scale the image nicely 
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('../img/bgpiano.png');*/
    /*background-color: #e1e6e9;*/
  }

   .bg-3rd{
    height: auto; 
    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/main-bg.png');
    /*background-color: #e1e6e9;*/
  }
    .bg-login-page{
     height: 100%; 
    /* Center and scale the image nicely */
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/main-bg.png');
    /*background-color: #e1e6e9;*/
  }
.bg1{
	background-image: url('../img/bg.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
 
	}
.bg2{
	background-image: url('../img/acoustic.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	height: 700px;
  	max-height: 100%;
	}
.img1{
	width: 100px;
	height: 100px;
}

.signin{
	margin-top:10px;
	font-size:30px;
	font-weight: bold;
}

.btn_login{

	margin-left: 10px;
	font-weight: bold;
	font-size: 20px;
	background: #2196f3;
	border: none;
	border-radius: 1px;
	box-shadow: none;
	outline: none;
	cursor: pointer;
	color: #fff;
}

.btn_login:hover{
	background: #77f9ffc7;
}


.ul_log .li_log a{
	display: block;
	padding: 10px;
	text-decoration: none;
	text-transform: none;
	text-align: center;
	background: #262626;
	color: #fff;
	border-bottom: 1px solid rgba(0,0,0,.1);
	transition: 0.5s;
}

.ul_log .li_log a:hover{
	background: #0d7ad0;
	text-transform: none;
	text-decoration: none;
	color: #fff;
}

.ul_log .li_log{
	list-style: none;
}

.dropdown .active{
	transform: perspective(1000px) rotateX(0deg);
}

.ul_log{
	position: absolute;
	margin: 0;
	padding: 0;
	margin-right: 3px;
	width: 120px;
	border-radius: 5px;
	background: #ccc;
	transform-origin: top;
	transform: perspective(1000px) rotateX(-90deg);
	transition: 0.5s;
}
.glass{
	background-color: rgba(3,3,3,0.2);
	color: #fff;
}
.ml1{
	
	font-family: Stardust;		
}

.ml2{

	font-family: ananda;	
}
.ml3{

	font-family: agency fb;
	font-size: 1.3em;	
}

.modal{
	margin-top: 60px;
}

.di{
	border:none;
}

.icon{
	margin-right: 10px;
}

.audio{
	text-decoration: none;
	color: #fff;
	float: right;
	font-weight: bold;
	margin-right: 20px;
	margin-top: 10px;
	position: relative;
}

.audio:hover{
	text-decoration: none;
	text-transform: none;
	color: #fff;

}
  audio{
    width: 100%;
  }
  .music-dark{
    background-color: #34464a;
  }
  .music-light{
    background-color: #dfe7e9;
  }
  .music-light-blue{
    background-color: #a3c5c4;
  }
  .music-dark-blue{
    background-color: #6d7a8a;
  }
  .mtxt-dark{
    color: #34464a;
  }
  .mtxt-light{
    color: #dfe7e9;
  }
  .mtxt-light-blue{
    color: #a3c5c4;
  }
  .mtxt-dark-blue{
    color: #6d7a8a;
  }
  .login-top{
    padding-top:10%;
  }
  .logo-index{
    position: absolute;
  }
  @media only screen and (max-width: 600px) {
.lister{
  display: none;
   margin-top:15%;
}
.player{
  margin-top:15%;
}
.btn-list{
  display: block;
}
.fixed-top{
  position: relative;
}
.header-top{
  display:block;
  margin-top: 10%;
}
  .login-top{
    padding-top:10%;
  }
   .logo-index{ 
   visibility: hidden;
  }
  .btn-outline-secondary{
    border: none;
  }
}