  @font-face{
  font-family: MavenPro-Medium;
  src: url('../fonts/MavenPro-Medium.ttf');
  }

 @font-face{
        font-family: Stardust;
        src: url('../fonts/Stardust.ttf');
      }


  @font-face{
        font-family: ananda;
        src: url('../fonts/ananda.ttf');
      }
      .back{
    background-image: url('../img/main-bg.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    -webkit-font-smoothing:antialiased;line-height:1.40;
}

.mt-1{
margin-top: 1%;
}
.modal-content{
  font-family: MavenPro-Medium;
}


.img_hover {
position: relative;

}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

/* Make the image to responsive */
.image {
  width: 100%;
  height: auto;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: transparent;
}

/* When you mouse over the container, fade in the overlay icon*/
.img_hover:hover .overlay {
  opacity: 1; 
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* When you move the mouse over the icon, change color */
.fa-music:hover {
  color: #2c3e50;
}

.plist_image {
    position: relative;
    float: left;
    width:  100%;
    height: 40%;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;

}

.centered {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img_hover:hover #hide_eye{
      display: none;
    }
.img_hover:hover .plist_image{
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}

.hide_table{
  display: none;
}

.loader{
  display: none;
}

.hide{
display: none;
}

.none_2 {
  display: none;
}

#bg_second{
  display: block;
}

#default_musics{
  display: block;
}

.btn-max{

}

#total_downloads2{
  display: none;
}

#my_plist{

}

#website_plist{
display: block;
}
#mobile_plist{
display: none;
}
@media only screen and (max-width: 600px) {
  .none_2 {
    display: block;
  }

  #show_downloads{
display: none;
}

  #bg_second{
    display: none;
  }

  #default_musics{
    display: none;
  }

  .btn-max{
  width: 100%;
  }

  #default_button{
  display: none;
  }

  #total_downloads2{
  display: block;
  }

  #my_plist{
    margin-top: -70px;
  }
  #website_plist{
  display: none;
  }
  #mobile_plist{
  display: block;
  }

}